/* top.php */
.travel-theme-top-wrapper {
	width: 100%;
	background-color: #f2f2f2;
	color: #323232;
	border-bottom: 1px solid #d9d9d9;
	height: 29px;
	line-height: 29px;
}
.travel-theme-top-wrapper > .inner {
	width: 970px;
	margin: 0 auto;
}

.travel-theme-top-wrapper #menu-top-left .inner ul, .travel-theme-top-wrapper #menu-top-right .inner ul {
	margin: 0;
	margin: 0;
	padding: 0;
	list-style: none;
}

.travel-theme-top-wrapper #menu-top-left {
	float: left;
}


.travel-theme-top-wrapper #menu-top-right {
	float: right;
}

.travel-theme-top-wrapper #menu-top-left .inner ul li, .travel-theme-top-wrapper #menu-top-right .inner ul li{
	float: left;

}


.travel-theme-top-wrapper #menu-top-left .inner ul li.last-menu, .travel-theme-top-wrapper #menu-top-right .inner ul li.last-menu{
	margin-right: 0;
}

.travel-theme-top-wrapper #menu-top-left .inner ul li a, .travel-theme-top-wrapper #menu-top-right .inner ul li a{
	text-decoration: none;
	border-left: solid 1px #808080;
	padding: 0 10px;
}


.travel-theme-top-wrapper #menu-top-left .inner ul li.first-item a, .travel-theme-top-wrapper #menu-top-right .inner ul li.first-item a{
	border-left: 0;
}

/* menu.php */
.travel_theme2_header > .header_wrapper  {
	padding: 10px 0;
}

 .top-menu {
	list-style: none;
	padding: 0;
	margin: 0 0 22px 0;
	float: right;	
}

.main-menu-wrapper  {
	height: 45px;
	margin-bottom: 10px;
	overflow: hidden;	
}
.main-menu {
	width: 968px;
	margin: auto;
	overflow: hidden;
	border: solid 1px #999999;
}
 .main-menu ul {
	list-style:none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	float:left;	
	width:699px;
}
 .main-menu li {
	display: block;
	float: left;	
	white-space:nowrap;
	overflow:hidden;
}

.main-menu li.first-item a{
	border-left:none;
}

.main-menu li.first-item .inner {
	
}

.main-menu li .inner {	
	border-left: 0;
	position:relative;
}

.main-menu li  a {		
	font-family: '맑은 고딕', AppleGothic;
	color: #4d4d4d;	
	display: block;
	float:left;	
	padding: 11px 10px;	
	text-align:center;
}

.main-menu li  .border_left {
	border-left:1px solid #cccccc;
	position:absolute;
	left:0;
	top:11px;
	height:16px;
}

.main-menu li.last-item {
	margin-right: 0;	
}

.main-menu li  a:hover {
	text-decoration: none;
	
}

.main-menu li.selected {
	
}

.top-menu li {
	border: 1px solid #0e5565;
	border-right: 0;
	display: block;
	float: left;
}

.top-menu li > .inner {
	border-left: 1px solid #88ceda;
	border-top: 1px solid #b5e3eb;
	background-color: #16859e;
}
.top-menu li > .inner :hover {
	background-color: #24abc2; 
}

.top-menu li > .inner a {
	display: inline-block;
	height: 37px;
	line-height: 35px;
	padding: 0 17px;
	color: #ffffff;
	font-size: 9pt;
	font-family: '맑은 고딕', AppleGothic;
}
.top-menu li > .inner a:hover {
	text-decoration: none;
}
/**floating-bar******/
.floating-bar{
	position:absolute;
	right:-100px;
	top:0;	
	width:88px;
}

.floating-bar .float-image-wrapper{
	border:1px solid #bbbbbb;
	background-color:#e6e6e6;
	padding:10px 9px;
}

.floating-bar .float-image-wrapper .float-image{
	width:70px;
	height:66px;
	overflow:hidden;
	background-color:#bbbbbb;
	margin-bottom:10px;
}

.floating-bar .float-image-wrapper .float-image img{
	width:100%;
}

.floating-bar .float-image.no-margin{
	margin-bottom:0;
}

.floating-bar .back-to-top{
	background-color:#bbbbbb;
	color:#ffffff;
	height:24px;
	width:26px;
	margin:10px auto 0 auto;
	text-align:center;
	font-size:.8em;
	cursor:pointer;
	line-height:12px;
}
/***********************************/
.layout {
	width: 100%;	
}
.layout > .inner {
	width: 970px;
	margin: 0 auto;
	position:relative;
}


.layout > .inner  > .left {
	width: 210px;
	float: left;
	margin-right: 10px;
}
.layout > .inner  > .container {
	float: left;
	width: 750px;

}

.travel_theme2_header {
	width:970px;
	margin:auto;
	margin-top: 10px;
}


.travel_theme2_header > .header_wrapper {
	width: 970px;
	margin: 0 auto;
	height:56px;
}

.travel_theme2_header > .header_wrapper #header-logo {
	float: left;
	height: 53px;
	width:600px;
	margin-top:7px;
}

.travel_theme2_header > .header_wrapper #header-logo img {
	height: 100%;
	
}

/****search css****/

.travel_theme2_header .search-bar{
	border-left:1px solid #999999;
	width:266px;
	float:left;	
	background-color:#fcfcfc;
}

.travel_theme2_header .search-bar #travel_search_text{
	border:0;
	padding:12px 0 11px 9px;	
	width:219px;
	float:left;
	background-color:#fcfcfc;
}

.travel_theme2_header .search-bar #travel_search_submit{		
	padding:12px 12px 11px 12px;
	float:left;		
}

/****top****/
.extra-menu-items{
	width:370px;
	float:left;
	text-align:right;
	font-size:.9em;	
	position:relative;	
}	

.extra-menu-items .extra-top{
	margin-bottom:3px;
	position:absolute;
	right:0;
	top:11px;	
}

.extra-menu-items .extra-top a{
	color:#808080;
	text-decoration:none;
	display:block;
	width:75px;
	padding:0 5px;
	word-break:break-all;
	height: 15px;
	line-height: 15px;
	overflow:hidden;
	text-align:center;	
	float:left;
	border-left:1px solid #808080;
}

.extra-menu-items .extra-top a.no-border{	
	border-right:none;
}

.extra-menu-items .extra-bottom{	
	position:absolute;
	right:0;
	top:32px;
}
.extra-menu-items .extra-bottom a{
	color:#000000;
	text-decoration:none;
	display:block;
	width:75px;
	padding:0 5px;
	word-break:break-all;
	overflow:hidden;
	text-align:center;
	float:left;
	border-left:1px solid #000000;

}
.extra-menu-items .first-item  a{
	border-left: 0;
}

/****setting.php*****/
.menu-config-list .label{
	width:50px;
	float:left;
	margin-top:5px;
}

.menu-config-list select{
	margin-right:10px;	
	width:100px;
}

.menu-config-list input{	
	padding:0!important;
	
}

.config-container.global{
	padding-bottom:50px!important;	
}

.travel-footer-tagline{
	width:30%;
}

.travel-footer-tagline input{
	padding:5px;
}

.menu-item-list select{
	width:100px;
	height:25px;
}

.menu-item-list input{
	margin-top:6px;
}

/**travel 2 banner****/
/**Theme banner**/

.banner-config{
	width:335px;
	height:295px;
	border:1px solid #d8d8d8;
	float:left;
	margin-bottom:10px;
}

.banner-config.margin-left{
	margin-left:10px;
}

.banner-config .image-upload{
	width:300px;
	height:100px;	
	margin:auto;
}

.banner-config .image-upload input[type='text']{
	width:100%;
	padding:2px;
}

.banner-config .image-title{
	margin: 0;
	background: #fafafa;
	border-bottom: solid 1px #d8d8d8;
	padding: 5px 5px;
	margin-bottom:10px;
}

.banner-config .image-upload img{
	width:300px;
	height:100px;
	margin-bottom:5px;
}

.banner-config .image-upload textarea{
	height:50px;
	width:97%;
	resize: none;
}
