<?xml version="1.0"?>
<config>
	<id>travel theme 2</id>
	<type>theme</type>
	<view>pc</view>
	<category>portal</category>
	<name>
		<en>Travel Design No. 2</en>
		<ko>여행사 디자인 2번</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<demo>http://travel.philgo.net</demo>
	<short>
		<en>Travel Theme No. 2</en>
		<ko>Travel Theme No. 2</ko>
	</short>
	<detail>
		<en></en>
		<ko></ko>
	</detail>
	<menu>
		<top>
			<name>
				<en>Menu Top</en>
				<ko>상단 톱 메뉴</ko>
			</name>
			<max>0</max>
		</top>
		<left>
			<name>
				<en>Top Left Menu</en>
				<ko>상단 왼쪽 메뉴</ko>
			</name>
			<max>2</max>
		</left>
		<right>
			<name>
				<en>Menu Top Right</en>
				<ko>상단 오른쪽 메뉴</ko>
			</name>
			<max>4</max>
		</right>
		<bottom>
			<name>
				<en>Menu Bottom</en>
				<ko>하단 메뉴</ko>
			</name>
			<max>0</max>
		</bottom>
	</menu>
</config>
